/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

  /* 全域border box */
*,*::before,*::after{
    box-sizing: border-box;
}
body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

a {
	word-break: keep-all;
	text-decoration: none;
}
/* -------------------表頭樣式設定---------------- */
 .header .container{
	max-width: 1920px;
	width: 100%;
	height: auto;
}
.header{
	display: flex;
	padding: 32px 16.25% 32px 16.25%  ;
	border-bottom: 1px solid #F1F1F1;
}
.header-logo{
	margin-right: 30.5%;
	
}
.header-logo-title{
	background-image: url(/src/assets/images/logo.svg);
	width: 90px;
	height: 40px;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}

/* desktop type */
.desktop-menu{
	display: flex;
	align-items: center;
	gap: 40px;
}
.desktop-menu li{
	padding: 4px 8px 4px 8px;
	position: relative;
}

.desktop-menu li a{
	color: #000000;
}
   /* 角標籤寫法 */
.desktop-menu li a:hover{
	.desktop-menu-item1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 8px; height: 8px;
		border-left: 1px solid #919191;
		border-top: 1px solid #919191;
		
	}
	.desktop-menu-item2 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 8px; height: 8px;
		border-left: 1px solid #919191;
		border-bottom: 1px solid #919191;;
	}
	.desktop-menu-item3{
		position: absolute;
		top: 0;
		right: 0;
		width: 8px; height: 8px;
		border-right: 1px solid #919191;
		border-top: 1px solid #919191;;
	}
	.desktop-menu-item4{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 8px; height: 8px;
		border-right: 1px solid #919191;
		border-bottom: 1px solid #919191;;
	}
}


/* mobile type  */
.mobile-menu{
	width: 40px;
	height: 40px;
	background-size: cover;
	background-position: center;
	background-image: url(src/assets/images/mobile-selection-icon.png);
	display: none;
}

/* title-slogn1 */
.title {
	padding: 80px 0px 80px 0px;
	gap: 40px;
	margin: 0 auto;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slogan-box1{
	max-width: 670px;
}	

.quote2{
	display: flex;
	flex-direction: row-reverse;
}

.title-slogan1{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.title-slogan1 p{
	font-size: 24px;
	position: relative;
	text-align: center;
}
.title-slogan1 p span{
	position: absolute;
	z-index: -1;
	bottom: -5px;
}

.title-slogan1 br{
	display: none;
}

/* title-slogan2~3 */
.title-slogan2{
	display: flex;
	gap: 40px;
}
.title-slogan2-1{
	display:flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.title-slogan2 p{
	text-align: center;
	line-height: 1.5;
	
}

.title-slogan2-1-1{
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: center;
}

.title-slogan2-1-1 p{
	color:#5B5B5B;
}

.title-slogan2-1-2 p{
	color: #3B3B3B;
}
.under-line{
	width: 24px;
	border-bottom: 2px solid #C1C1C1;
}


.content{
	padding: 120px 16px  120px 16px ;
}

.content-box{
	max-width: 1290px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 72px;
}
.content-zone{
	display: flex;
	gap: 24px;
}
.content-zone-box{
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.shadow1 {
	max-width: 636px;
	height: auto;
	border: 1px solid #f1f1f1;
	border-radius: 8px;
	img{
		width:100%;
		height:100%;
		border-radius: 7px;
	}
  }

  .shadow2 {
	max-width: 636px;
	height: auto;
	border: 1px solid #D1BD84;
	;
	border-radius: 8px;
	img{
		width:100%;
		height:100%;
		border-radius: 7px;
	}
  }

.content-inf{
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 0px 16px 0px 16px;
}

.content-title {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.content-title h2 {
	font-size: 28px;
	font-weight: 700;
	color: #3B3B3B;
}

.content-title p {
	font-size: 16px;
	font-weight: 400;
	color: #919191;
  }

  .content-menu{
	display: flex;
  }
  .content-menu li {
	background-color: #f1f1f1;
	border-radius: 16px;
	padding: 4px 12px 4px 12px;
	margin-right: 16px;
  }

  .content-menu li a {
	text-decoration: none;
	color: #3b3b3b;
	font-size: 16px;
	font-weight: 400;
  }

  /* content-button */
.pages-button{
	display: flex;
	gap: 16px;
}
.pages-button li a{
		font-size: 24px;
		padding:2px 13px 2px 13px;
		text-align: center;
		color: #3B3B3B	;
	}
.pages-button li a:hover{
	border-radius: 4px;
	background-color: #1E1E1E;
	color: #FFFFFF;
}
 
/* footer */
.footer{
	display: flex;
	justify-content: space-between;
	border-top:1px solid#FAFAFA;
	Padding: 80px  16.25%  80px  16.25%;
	background-image: url("/src/assets/images/footer-bg-lg.png");	
}

.footer-inf{
	display: flex;
	flex-direction: column;
	gap: 24px;
	p{
		font-size: 20px;
		line-height: 30px;
		color: #3B3B3B;
	}
	a{
		font-size: 20px;
		line-height: 24px;
		color: #919191;
	}
}

.footer-social-m{
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.footer-social-m li a{
	display: flex;
	align-items: center;
	padding: 8px 24px 8px 24px;
	gap: 8px;
}


	

.footer-social-m li a{
	background-color: 
	#FFFFFF;
	border: 1px solid #C1C1C1 ;
	border-radius: 8px;
	p{
		color:  #3B3B3B;
		font-size: 20px;
	}
}
.footer-social-m li a:hover{
	background-color: 
	#000000;
	border-radius: 8px;
	p{
		color:  #FFFFFF;
		font-size: 20px;
	}
}







@media (max-width: 992px){

	.header{
		padding: 32px 8.25% 32px 8.25%  ;
	}
	.header-menu{
		gap: 15px;
	}
	.header-logo{
		margin-right: 20.5%;
	}
	.content-zone{
		gap: 16px;
	}

	.footer{
		flex-direction: column;
		align-items: center;
		gap: 40px;
	}

	.content-title h2 {
		font-size: 24px;
		font-weight: 700;
		color: #3B3B3B;
	}
}





@media (max-width: 767px){
	.header{
			Padding:8px 12px 8px 12px;
			justify-content: space-between;
		}
	.header-logo{
			height: 33px;
			width: 74px;
		}
	.header-logo img{
			object-fit: contain;
			width: 74px;
			height: 33px;
		}
		
	.mobile-menu{
			display:block;
		}
	.desktop-menu{
			display:none;
		}
		
	.slogan-box1{
			width: 500px;
		}

	.title-slogan1 br{
			display: block;
		}

	.quote1{
			display:flex;
			justify-content: center;
		}
	.quote2{
			display:none;
		}

	.title-slogan2{
			flex-direction: column;
			gap: 40px;
		}

	.content-zone{
			flex-direction: column;
			align-items: center;
			gap: 48px;
		}
	.shadow1 {
			/* max-width: 351px; */
			height: auto;
			border: 0.55px solid #f1f1f1;
			border-radius: 4px;
			img{
				width:100%;
				height:auto;
				border-radius: 3.5px;
			}
		}
		
	.shadow2 {
			/* max-width: 351px; */
			height: auto;
			border: 0.55px solid #D1BD84;
			;
			border-radius: 4px;
			img{
				width:100%;
				height:auto;
				border-radius: 3.5px;
			}
		}
		
	.content-title h2 {
			font-size: 20px;
			font-weight: 700;
			color: #3B3B3B;
		}
	.content-inf{
			gap: 16px;
		}
	
		
	}	